nav .form-control {
    border: none;
}

nav .form-control:focus {
    box-shadow: none;
    border: none;
}

.sub-hero {
    background: linear-gradient(180deg, #f1602b, #fb4e04, #fa3c0fe0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sub-navbar .user {
    display: grid;
    place-items: center;
}

.sub-navbar .content-user {
    display: flex;
    margin-top: 5px;
    place-items: center;
    gap: 20px;
}

.sub-navbar .text-user {
    margin-top: 5px;
}

.sub-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    place-items: center;
    margin-top: 60px;
    padding-bottom: 10px;
}

.sub-navbar .bi-person-fill {
    font-size: 70px;
    height: 80px;
}

.sub-navbar .btn-custom {
    margin-top: 5px;
    background-color: #fff;
    padding: 2px 7px;
}

.sub-navbar .btn-custom:hover {
    background: transparent;
    border: 1px solid;
}

.sub-navbar .content-saldo {
    display: flex;
    place-items: center;
    gap: 20px;
}

.sub-navbar .content-saldo .bi {
    font-size: 50px;
}

@media (max-width: 766px) {
    nav .hiden {
        display: none;
    }

    nav .navbar-collapse {
        justify-content: space-between;
    }

    .sub-navbar {
        padding: 0 0 10px 0;
    }

    .sub-navbar .bi-person-fill {
        font-size: 45px;
        height: 50px;
    }

    .sub-navbar .content-saldo .bi {
        font-size: 25px;
    }

    .sub-navbar .content-saldo {
        gap: 8px;
        font-size: 12px;
    }

    .sub-navbar .content-user {
        gap: 8px;
        font-size: 12px;
    }

    .sub-navbar h6 {
        font-size: 11px;
    }

    .sub-navbar h5 {
        font-size: 15px;
    }
}
