#bottom-bar {
    container: bottom-bar / inline-size;
}
#bottom-bar .container-box {
    display: grid;
    grid-auto-flow: column;
    padding: 8px 16px;
    background-color: var(--bs-primary);
    border-radius: 16px 16px 0 0;
}
#bottom-bar .box {
    display: grid;
    gap: 4px;
    justify-items: center;
    justify-content: center;
    text-decoration: none;
}
#bottom-bar .icon {
    display: grid;
    width: 44px;
    height: 44px;
    background-color: teal;
    border-radius: 50%;
}
#bottom-bar .text {
    font-size: 12px;
    font-weight: 500;
    color: white;
}
@container bottom-bar (min-width: 601px) {
    #bottom-bar .container-box {
        display: none;
    }
}
