#online-product {
}
#online-product .swiper {
    width: 600px;
    height: 300px;
}
#online-product .container-box {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow: auto;
}
#online-product .thumb {
    width: 240px;
    height: 240px;
    background-color: teal;
    border-radius: 8px;
}
